[Unit]
Description=SentinelGoblin application service
Documentation=https://github.com/leandroschabarum/sentinelGoblin

[Service]
Type=simple
User=root
WorkingDirectory=/opt/sentinelGoblin
Environment="STA_MSG=starting sentinelGoblin..."
Environment="END_MSG=stoping sentinelGoblin..."
ExecStartPre= bash procNotif.sh ${STA_MSG}
ExecStart=bash sentinelGoblin.sh
ExecStopPost=bash procNotif.sh ${END_MSG}
Restart=on-failure
RestartSec=15
StandardOutput=append:/var/log/sentinelGoblin.log
StandardError=append:/var/log/sentinelGoblin.log
CPUQuota=5%

[Install]
WantedBy=multi-user.target
