[Unit]
Description=SentinelGoblin application service
Documentation=https://github.com/leandroschabarum/sentinelGoblin

[Service]
Type=simple
User=root
WorkingDirectory=/opt/sentinelGoblin
EnvironmentFile=/opt/sentinelGoblin/SG_globals.sh
ExecStartPre=bash procNotif.sh $PROC_START_MSG
ExecStopPre=bash procNotif.sh $PROC_STOP_MSG
ExecStart=bash sentinelGoblin.sh
Restart=on-failure
RestartSec=15
StandardOutput=append:/var/log/sentinelGoblin.log
StandardError=append:/var/log/sentinelGoblin.log
CPUQuota=5%

[Install]
WantedBy=multi-user.target
